<%- contentFor('head') %> 
<link rel="stylesheet" href="../../../public/css/pages/user/account.css">
<title>Tài khoản</title>

<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %>
<div class="page-content-wrapper profile-container">
    <div class="row justify-content-lg-center pt-4 ">
        <div class="col-lg-6 col-md-6 col-sm-12 mx-3 d-flex flex-column justify-content-lg-start align-content-end align-item-end">   
            <form  
                action="/reader/account" 
                method="put"
                id="update_avatar_form"
                class="position-relative shadow"
            >
                <input class="filepond info" type="file" accept="image/*"  id="anh_bia" name="anh_bia">
                <button class="icon-text-btn btn-save-avatar d-none px-5" type="submit">Lưu</button>
            </form>
            
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 mx-3 d-flex flex-column justify-content-start align-content-start align-item-start">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profileTab" type="button" role="tab" aria-controls="home" aria-selected="true">Thông tin cá nhân</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="account-tab" data-bs-toggle="tab" data-bs-target="#accountTab" type="button" role="tab" aria-controls="profile" aria-selected="false">Mật khẩu</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="library-tab" data-bs-toggle="tab" data-bs-target="#libaryTab" type="button" role="tab" aria-controls="contact" aria-selected="false">Thư viện</button>
                </li>
              </ul>
              <div class="tab-content" id="ex1-content">
                <div
                  class="tab-pane fade show active" id="profileTab" role="tabpanel" aria-labelledby="ex1-tab-1"
                >
                    <form
                        action="/reader/account" 
                        method="PUT"
                        id="update_info_form"
                        class="row"
                    >
                        <div class="d-inline-flex justify-content-between info-header">  
                            <h4 class="text-start my-auto"> Thông tin cá nhân của bạn</h4> 
                            <button class="icon-btn" type="button" onclick="editProfile()" id="btn-edit-pro">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="icon-btn d-none" type="button" onclick="cancelEditProfile()" id="btn-cancel-edit-pro">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
        
                        <div class="input-item mt-3">
                            <label class="" for="ho_ten">
                                <strong>Họ và Tên:</strong>
                            </label>
                            <input
                                class=" info"
                                id="ho_ten"
                                type="text"
                                name="ho_ten"
                                value="<%= reader.ho_ten %>"
                                placeholder="Họ và tên"
                                required
                                disabled
                            >
                        </div>
                        
                        <div class="input-item mt-4">
                            <label for="gioi_tinh">
                                <strong>Giới tính:</strong>
                            </label>
                            <select 
                                class="info" 
                                name="gioi_tinh" 
                                id="gioi_tinh" 
                                aria-placeholder="Giới tính" 
                                required
                                disabled
                            >
                                <option value="true" <%= reader.gioi_tinh == true?"selected": "" %> >Nam</option>
                                <option value="false" <%= reader.gioi_tinh == true?"selected": "" %> >Nữ</option>
                            </select>
                        </div>
        
                        <div class="input-item mt-4">
                            <label  for="ngay_sinh">
                                <strong>Ngày sinh:</strong>
                            </label>
                            <input class=" info" 
                                id="ngay_sinh" 
                                type="date" 
                                name="ngay_sinh" 
                                value="<%=reader.ngay_sinh.toLocaleDateString('en-GB').split('/').reverse().join('-') %>" 
                                placeholder="Ngày sinh" 
                                required
                                disabled
                            >
                        </div>
        
                        <div class="input-item mt-4">
                            <label for="email">
                                <strong>Email:</strong>
                            </label>
                            <input 
                                class=" info" 
                                id="email" 
                                type="email" 
                                name="email"
                                value="<%= reader.email %>"
                                placeholder="Email" 
                                required
                                disabled
                            >
                        </div>
        
                        <div class="input-item mt-4">
                            <label for="dia_chi">
                                <strong>Địa chỉ:</strong>
                            </label>
                            <input 
                                class="info" 
                                id="dia_chi" 
                                type="text" 
                                name="dia_chi" 
                                value="<%=reader.dia_chi %>" 
                                placeholder="Địa chỉ" 
                                required
                                disabled
                            >
                        </div>
        
                        <div class="d-flex flex-row justify-content-end mt-4" >
                            <button class="icon-text-btn btn-save-info d-none px-5">Lưu</button>
                        </div>            
                    </form>
                </div>
                <div class="tab-pane fade" id="accountTab" role="tabpanel" aria-labelledby="ex1-tab-2">
                    <form 
                    class="row pass_container"
                    action="/reader/account" 
                    method="PUT"  
                    id="update_pass_form"
                    >
                        <div class="mb-2 d-inline-flex justify-content-between password-header">  
                            <h4 class="text-start my-auto">Thay đổi mật khẩu tài khoản của bạn</h4> 
                            <button class="icon-btn btn-edit-pass d-none" type="button" onclick="editPassword()" id="btn-edit-pass">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="icon-btn d-none" type="button" onclick="cancelEditPass(false)" id="btn-cancel-edit-pass">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
        
                        <div class="input-item mt-3">
                            <label for="currentPass">
                                <strong>Mật khẩu hiện tại:</strong>
                            </label>
                            <input 
                                class=" pass" 
                                id="currentPass" 
                                type="password" 
                                name="currentPass" 
                                placeholder="Mật khẩu hiện tại"
                                required
                                    
                            >
                        </div>
        
                        <div class="input-item mt-4">
                            <label for="newPass">
                                <strong>Mật khẩu mới:</strong>
                            </label>
                            <input 
                                class=" pass" 
                                id="newPass" 
                                type="password" 
                                name="newPass" 
                                placeholder="Mật khậu mới"
                                required
                                
                            >
                        </div>
                        
                        <div class="input-item mt-4">
                            <label for="rePass">
                                <strong>Xác nhận:</strong>
                            </label>
                            <input 
                                class=" pass" 
                                id="rePass" 
                                type="password" 
                                name="rePass" 
                                placeholder="Xác nhận"
                                required
                                    
                            >
                        </div>
        
                        <div class="d-flex flex-row justify-content-end mt-4" >
                            <button class="icon-text-btn btn-save-pass px-5">Lưu</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade library-container" id="libaryTab" role="tabpanel" aria-labelledby="ex1-tab-3">
                    <div>
                        <h4>Thông tin thư viện của bạn</h4>
                    </div>
                    <div class="my-3 library-content shadow-sm">
                        <div class="icon-content">
                            <img src="/public/assets/images/money.png" alt="">
                        </div>
                        <div class="text-content">
                              <h5><strong>Tiền nợ thư viện (vnđ)</strong></h5>  
                              <h2> <strong><%=reader.tien_no %></strong></h2>
                        </div>
                    </div>
                    <div class="my-4 library-content shadow-sm">
                        <div class="icon-content">
                                <img src="/public/assets/images/hourglass.png" alt="thời hạn thẻ">
                        </div>
                        <div class="text-content">
                                <h5><strong>Thời hạn thẻ (ngày)</strong></h5>  
                                <h2><strong>150</strong></h2>
                        </div>
                    </div>
                    <div class="my-4 library-content shadow-sm">
                        <div class="icon-content">
                                <img src="/public/assets/images/books.png" alt="Số sách đang mượn">
                        </div>
                        <div class="text-content">
                                <h5><strong>Số sách đang mượn (cuốn)</strong></h5> 
                                <h2><strong><%=reader.borrow %></strong></h2>
                        </div>
                        </div>
                    <div class="my-4 library-content shadow-sm">
                        <div class="icon-content">
                            <img src="/public/assets/images/notepad.png" alt="Số sách đăng ký">
                        </div>
                        <div class="text-content">
                            <h5><strong>Số sách đăng ký</strong></h5> 
                            <h2> <strong><%=reader.register %></strong></h2>
                        </div>
                    </div>
                </div>
              </div>         
        </div>
    </div>
</div> 
<style>
    .filepond--root .filepond--drop-label {
        background-image: url('<%=reader.anh_bia %>');
    }
</style>
<script src="/public/js/account.js"></script>