<%- contentFor('head') %> 
<link rel="stylesheet" href="../../../public/css/pages/user/account.css">
<title>Tài khoản</title>

<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %>
<div class="container profile-container">
    <div class="row d-flex flex-row justify-content-around">
        <div class="col-lg-6 col-md-6 col-sm-12 p-3 d-flex flex-column justify-content-center align-content-center align-item-center">   
            <form  
                action="/reader/account" 
                method="put"
                id="update_avatar_form"
                class="position-relative"
            >
                <input class="filepond info" type="file" accept="image/*"  id="anh_bia" name="anh_bia">
                <button class="btn-save btn-save-avatar d-none" type="submit">Lưu</button>
            </form>
            
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 py-3 px-4 d-flex flex-column justify-content-center">
            <form
                action="/reader/account" 
                method="PUT"
                id="update_info_form"
                class="row"
            >
                <div class="border-bottom mb-2 d-inline-flex justify-content-between info-header">  
                    <h5 class="text-start my-auto">Thông tin liên hệ</h5> 
                    <button class="icon-button btn-edit-info" type="button" onclick="editProfile()">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </div>

                
                <label class="mt-1 mb-0 px-0" for="ho_ten">
                    <strong>Họ và Tên:</strong>
                </label>
                <input
                    class=" info"
                    id="ho_ten"
                    type="text"
                    name="ho_ten"
                    value="<%= reader.ho_ten %>"
                    placeholder="Họ và tên"
                    required
                    disabled
                >

                <label class="mt-1 mb-0 px-0" for="gioi_tinh">
                    <strong>Giới tính:</strong>
                </label>
                <select 
                    class="info" 
                    name="gioi_tinh" 
                    id="gioi_tinh" 
                    aria-placeholder="Giới tính" 
                    required
                    disabled
                >
                    <option value="true" <%= reader.gioi_tinh == true?"selected": "" %> >Nam</option>
                    <option value="false" <%= reader.gioi_tinh == true?"selected": "" %> >Nữ</option>
                </select>

                <label class="mt-1 mb-0 px-0" for="ngay_sinh">
                    <strong>Ngày sinh:</strong>
                </label>
                <input class=" info" 
                    id="ngay_sinh" 
                    type="date" 
                    name="ngay_sinh" 
                    value="<%=reader.ngay_sinh.toLocaleDateString('en-GB').split('/').reverse().join('-') %>" 
                    placeholder="Ngày sinh" 
                    required
                    disabled
                >
                
                <label class="mt-1 mb-0 px-0" for="email">
                    <strong>Email:</strong>
                </label>
                <input 
                    class=" info" 
                    id="email" 
                    type="email" 
                    name="email"
                    value="<%= reader.email %>"
                    placeholder="Email" 
                    required
                    disabled
                >

                <label class="mt-1 mb-0 px-0" for="dia_chi">
                    <strong>Địa chỉ:</strong>
                </label>
                <input 
                    class=" info" 
                    id="dia_chi" 
                    type="text" 
                    name="dia_chi" 
                    value="<%= reader.dia_chi %>" 
                    placeholder="Địa chỉ" 
                    required
                    disabled
                >
               
                <div class="d-flex flex-row justify-content-center mt-2" >
                    <button class="btn-save btn-save-info d-none">Lưu</button>
                </div>
                
            </form>
            
            <form 
                class="row pass_container mt-3"
                action="/reader/account" 
                method="PUT"  
                id="update_pass_form"
            >
                <div class="border-bottom mb-2 d-inline-flex justify-content-between password-header">  
                    <h5 class="text-start my-auto">Thay đổi mật khẩu</h5> 
                    <button class="icon-button btn-edit-pass" type="button" onclick="editPassword()">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </div>

                <label class="mt-1 mb-0 px-0" for="currentPass">
                    <strong>
                        Mật khẩu hiện tại:
                    </strong>
                </label>
                <input 
                    class=" pass" 
                    id="currentPass" 
                    type="password" 
                    name="currentPass" 
                    placeholder="Mật khẩu hiện tại"
                    disabled    
                >

                <label class="mt-1 mb-0 px-0" for="newPass">
                    <strong>Mật khẩu mới:</strong>
                </label>
                <input 
                    class=" pass" 
                    id="newPass" 
                    type="password" 
                    name="newPass" 
                    placeholder="Mật khậu mới"
                    disabled
                >
                
                <label class="mt-1 mb-0 px-0" for="rePass">
                    <strong>Xác nhận:</strong>
                </label>
                <input 
                    class=" pass" 
                    id="rePass" 
                    type="password" 
                    name="rePass" 
                    placeholder="Xác nhận"
                    disabled    
                >

                <div class="d-flex flex-row justify-content-center mt-3" >
                    <button class="btn-save btn-save-pass d-none">Lưu</button>
                </div>
            </form>
            
        </div>

    </div>
</div> 
<style>
    .filepond--root .filepond--drop-label {
        background-image: url('<%=reader.anh_bia %>');
    }
</style>
<script src="/public/js/account.js"></script>