<%- contentFor('head') %> 
<link rel="stylesheet" href="../../../public/css/pages/user/account.css">
<title>Tài khoản</title>

<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %>
<div class="page-content-wrapper profile-container">
    <div class="row justify-content-lg-center pt-4 ">
        <div class="col-lg-5 col-md-6 col-sm-12 mx-3 d-flex flex-column justify-content-lg-center align-content-center align-item-center">   
            <form  
                action="/reader/account" 
                method="put"
                id="update_avatar_form"
                class="position-relative shadow"
            >
                <input class="filepond info" type="file" accept="image/*"  id="anh_bia" name="anh_bia">
                <button class="icon-text-btn btn-save-avatar d-none" type="submit">Lưu</button>
            </form>
            
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-3 d-flex flex-column justify-content-center">
            <form
                action="/reader/account" 
                method="PUT"
                id="update_info_form"
                class="row shadow-lg mb-2"
            >
                <div class="d-inline-flex justify-content-between info-header">  
                    <h5 class="text-start my-auto">Thông tin liên hệ</h5> 
                    <button class="icon-btn" type="button" onclick="editProfile()" id="btn-edit-pro">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="icon-btn d-none" type="button" onclick="cancelEditProfile()" id="btn-cancel-edit-pro">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

                <div class="input-item mt-2">
                    <label class="" for="ho_ten">
                        <strong>Họ và Tên:</strong>
                    </label>
                    <input
                        class=" info"
                        id="ho_ten"
                        type="text"
                        name="ho_ten"
                        value="<%= reader.ho_ten %>"
                        placeholder="Họ và tên"
                        required
                        disabled
                    >
                </div>
                
                <div class="input-item mt-2">
                    <label for="gioi_tinh">
                        <strong>Giới tính:</strong>
                    </label>
                    <select 
                        class="info" 
                        name="gioi_tinh" 
                        id="gioi_tinh" 
                        aria-placeholder="Giới tính" 
                        required
                        disabled
                    >
                        <option value="true" <%= reader.gioi_tinh == true?"selected": "" %> >Nam</option>
                        <option value="false" <%= reader.gioi_tinh == true?"selected": "" %> >Nữ</option>
                    </select>
                </div>

                <div class="input-item mt-2">
                    <label  for="ngay_sinh">
                        <strong>Ngày sinh:</strong>
                    </label>
                    <input class=" info" 
                        id="ngay_sinh" 
                        type="date" 
                        name="ngay_sinh" 
                        value="<%=reader.ngay_sinh.toLocaleDateString('en-GB').split('/').reverse().join('-') %>" 
                        placeholder="Ngày sinh" 
                        required
                        disabled
                    >
                </div>

                <div class="input-item mt-2">
                    <label for="email">
                        <strong>Email:</strong>
                    </label>
                    <input 
                        class=" info" 
                        id="email" 
                        type="email" 
                        name="email"
                        value="<%= reader.email %>"
                        placeholder="Email" 
                        required
                        disabled
                    >
                </div>

                <div class="input-item mt-2">
                    <label for="dia_chi">
                        <strong>Địa chỉ:</strong>
                    </label>
                    <input 
                        class="info" 
                        id="dia_chi" 
                        type="text" 
                        name="dia_chi" 
                        value="<%=reader.dia_chi %>" 
                        placeholder="Địa chỉ" 
                        required
                        disabled
                    >
                </div>

                <div class="d-flex flex-row justify-content-end mt-2" >
                    <button class="icon-text-btn btn-save-info d-none">Lưu</button>
                </div>
                
            </form>
            
            <form 
                class="row shadow-lg pass_container mt-3"
                action="/reader/account" 
                method="PUT"  
                id="update_pass_form"

            >
                <div class="mb-2 d-inline-flex justify-content-between password-header">  
                    <h5 class="text-start my-auto">Thay đổi mật khẩu</h5> 
                    <button class="icon-btn btn-edit-pass" type="button" onclick="editPassword()" id="btn-edit-pass">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="icon-btn d-none" type="button" onclick="cancelEditPass(false)" id="btn-cancel-edit-pass">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

                <div class="input-item mt-2">
                    <label for="currentPass">
                        <strong>
                            Mật khẩu hiện tại:
                        </strong>
                    </label>
                    <input 
                        class=" pass" 
                        id="currentPass" 
                        type="password" 
                        name="currentPass" 
                        placeholder="Mật khẩu hiện tại"
                        required
                        disabled    
                    >
                </div>

                <div class="input-item mt-2">
                    <label for="newPass">
                        <strong>Mật khẩu mới:</strong>
                    </label>
                    <input 
                        class=" pass" 
                        id="newPass" 
                        type="password" 
                        name="newPass" 
                        placeholder="Mật khậu mới"
                        required
                        disabled
                    >
                </div>
                
                <div class="input-item mt-2">
                    <label for="rePass">
                        <strong>Xác nhận:</strong>
                    </label>
                    <input 
                        class=" pass" 
                        id="rePass" 
                        type="password" 
                        name="rePass" 
                        placeholder="Xác nhận"
                        required
                        disabled    
                    >
                </div>

                <div class="d-flex flex-row justify-content-end mt-3" >
                    <button class="icon-text-btn btn-save-pass d-none">Lưu</button>
                </div>
            </form>
            
        </div>

    </div>
</div> 
<style>
    .filepond--root .filepond--drop-label {
        background-image: url('<%=reader.anh_bia %>');
    }
</style>
<script src="/public/js/account.js"></script>