<%- contentFor('head') %>
<title>Sách yêu thích</title>
<%- include('../partials/header/reader-header.ejs') %> 
<link rel="stylesheet" href="/public/css/pages/reader/fav-book.css">
<%- contentFor('body') %> 
<div class="page-content-wrapper">
    <h2 class="page-title">Danh sách sách yêu thích</h2>
    <% favoriteBook.forEach((book, index)=>{ %>
        <div class="container">
            <a href="/book-head/<%= book._id %>">
                <div class="fav-book-item">
                    <div class="small-img-container">
                        <img src="<%= book.anh_bia %>"/>
                    </div>
                    <div class="info">
                        <h4><%= book.ten_dau_sach %></h4>
                        <p class="author"><%= book.tac_gia %></p>
                        <p class="category"><%= book.the_loai.ten_the_loai %></p>
                    </div>
                    <div>
                        <form action="/reader/favorite-books?_method=put" method="post">
                            <input type="text" name="deleteFavoriteBook" hidden value="<%= book._id %>">
                            <button type="submit" class="icon-btn danger"><i class="far fa-trash-alt"></i> </button>
                        </form>
                    </div>
                </div>
            </a>
        </div>
    <% }) %> 
    
</div>
