
<%- contentFor('head') %>
<title>Phiếu đăng ký mượn</title>
<link rel="stylesheet" href="/public/css/pages/reader/view-register-borrow.css">

<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %> 

<div class="page-content-wrapper">
  <h2 class="page-title">Phiếu đăng ký mượn sách</h2>
  <div class="d-flex justify-content-end" style="margin: 0 0 1rem 0">
    <div class="dropdown">
      <button class="submit-btn dropdown-toggle" type="button" id="sort-register-card" data-bs-toggle="dropdown" aria-expanded="false">Tùy chọn</button>
      <ul class="dropdown-menu" aria-labelledby="sort-register-card">
        <li><a class="dropdown-item" href="/reader/register-tickets">Tất cả</a></li>
        <li><a class="dropdown-item" href="/reader/register-tickets?status=0">Đang chờ</a></li>
        <li><a class="dropdown-item" href="/reader/register-tickets?status=1">Đã xác nhận</a></li>
        <li><a class="dropdown-item" href="/reader/register-tickets?status=2">Bị hủy</a></li>
      </ul>
    </div>
  </div>
  <div>
    <div class="item-container">
      <% registerCards.forEach(card =>{ %>
        <div class="item">
          <div class="main">
            <div class="body
              <% if(card.tinh_trang == 0){ %>
                <%= 'pending' %> 
              <% }else if(card.tinh_trang == 1){ %>
                <%= 'confirmed' %>   
              <% }else{ %>
                <%= 'canceled' %> 
              <% } %>">
              <div class="top">
                <div class="card-icon">
                  <img src="/public/assets/images/card.png" alt="">
                </div>
              </div>
              <div class="info-container">
                <h6>Phiếu đăng ký</h6>
                <p><i class="fas fa-calendar-alt"></i> Ngày mượn: <%= card.ngay_dang_ky.toLocaleDateString('vi') %></p>
                <p>Đầu sách: <%= card.cac_dau_sach.length %> </p>
                <p class="status">Tình trạng: 
                  <% if(card.tinh_trang == 0){ %>
                    <%= 'Đang chờ' %> 
                  <% }else if(card.tinh_trang == 1){ %>
                    <%= 'Đã xác nhận' %>   
                  <% }else{ %>
                    <%= 'Bị hủy' %> 
                  <% } %> 
                </p>
              </div>
            </div>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#card_<%= card._id %>" aria-expanded="false" aria-controls="card_<%= card._id %>">Chi tiết</button>
          </div>
          <div class="collapse" id="card_<%= card._id %>">
            <div class="card card-body">
              <h6><i class="fas fa-book"></i> Sách mượn</h6>
              <% card.cac_dau_sach.forEach(bookHead=>{ %>
                <p><%= bookHead.ten_dau_sach %>
              <% }) %> 
            </div>
          </div>
        </div>
      <% }) %> 
    </div>
  </div>
</div>