
<%- contentFor('head') %>
<title>Phiếu đăng ký mượn</title>
<link rel="stylesheet" href="/public/css/pages/reader/view-register-borrow.css">

<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %> 

<div class="page-content-wrapper">
  <h2 class="page-title">Phiếu đăng ký mượn sách</h2>
  <div class="d-flex justify-content-end" style="margin: 0 0 1rem 0">
    <div class="dropdown">
      <button class="submit-btn dropdown-toggle" type="button" id="sort-register-card" data-bs-toggle="dropdown" aria-expanded="false">Tùy chọn</button>
      <ul class="dropdown-menu" aria-labelledby="sort-register-card">
        <li><a class="dropdown-item" href="/reader/register-tickets">Tất cả</a></li>
        <li><a class="dropdown-item" href="/reader/register-tickets?status=0">Đang chờ</a></li>
        <li><a class="dropdown-item" href="/reader/register-tickets?status=1">Đã xác nhận</a></li>
        <li><a class="dropdown-item" href="/reader/register-tickets?status=2">Bị hủy</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="item-container">
      <% registerCards.forEach(card =>{ %>
        <div class="item">
          <div class="top 
            <% if(card.tinh_trang == 0){ %>
              <%= 'pending' %> 
            <% }else if(card.tinh_trang == 1){ %>
              <%= 'confirmed' %>   
            <% }else{ %>
              <%= 'canceled' %> 
            <% } %>">
            <div class="content d-flex">
              <div class="icon"><i class="fas fa-book"></i></div>
              <div>
                <p><i class="fas fa-calendar-alt"></i> <%= card.ngay_dang_ky %> </p>
                <p>Đầu sách: <%= card.cac_dau_sach.length %> </p>
                <p>Tình trạng: 
                  <% if(card.tinh_trang == 0){ %>
                    <%= 'Đang chờ' %> 
                  <% }else if(card.tinh_trang == 1){ %>
                    <%= 'Đã xác nhận' %>   
                  <% }else{ %>
                    <%= 'Bị hủy' %> 
                  <% } %> 
                </p>
              </div>
            </div>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#<%= card._id %>" aria-expanded="false" aria-controls="collapseExample1">More-info</button>
          </div>
          <div class="collapse" id="<%= card._id %>">
            <div class="card card-body">
              <% card.cac_dau_sach.forEach(bookHead=>{ %>
                <p><%= bookHead.ten_dau_sach %> </p>
              <% }) %> 
            </div>
          </div>
        </div>
      <% }) %> 
    </div>
  </div>
</div>