<%- contentFor('head') %>
<title>Sách mượn</title>

<%- contentFor('body') %> 
<%- include('../partials/header/reader-header.ejs') %> 
<% 
function isContaint(comments, reader){
  for (let i = 0; i < comments.length; i++) {
    if(JSON.stringify(comments[i].doc_gia) == JSON.stringify(reader) ){
      return true;
    }
  }
  return false;
}
%> 
<div class="page-content-wrapper">
  <h2 class="page-title">Các phiếu mượn sách của bạn</h2>
  <div class="d-flex justify-content-end" style="margin: 0 0 1rem 0">
    <div class="dropdown">
      <button class="submit-btn dropdown-toggle" type="button" id="sort-borrow-card" data-bs-toggle="dropdown" aria-expanded="false">Tùy chọn</button>
      <ul class="dropdown-menu" aria-labelledby="sort-borrow-card">
        <li><a class="dropdown-item" href="/reader/borrow-cards">Tất cả</a></li>
        <li><a class="dropdown-item" href="/reader/borrow-cards?status=1">Chưa trả</a></li>
        <li><a class="dropdown-item" href="/reader/borrow-cards?status=2">Đã trả</a></li>
      </ul>
    </div>
  </div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <td>STT</td>
        <td>Tên sách</td>
        <td>Ngày mượn</td>
        <td>Thời hạn còn lại</td>
        <td>Tình trạng</td>
        <td>bình luận sách</td>
      </tr>
    </thead>
    <tbody>
      <% borrowCards.forEach((card, index)=>{ %>
        <tr>
          <td><%= index + 1 %> </td>
          <td><%= card.dau_sach.ten_dau_sach %> </td>
          <td><%= card.ngay_muon.toLocaleDateString('vi') %> </td>
          <td>
            <% if(card.ngay_tra == null){ %>
              <%= card.remainDay %> 
            <% } %>
          </td>
          <td>
            <% if(card.ngay_tra == null){ %>
              <strong style="color: var(--red-primary);"><%= 'Chưa trả' %></strong>  
            <% }else{ %>
              <strong style="color: var(--green-primary);"><%= 'Đã trả' %></strong>
            <% } %> 
          </td>
          <td>
            <% if(!isContaint(card.dau_sach.cac_nhan_xet, card.doc_gia)){ %>
              <a href="/book-head/<%= card.dau_sach.id %>">Bình luận tại đây</a>
            <% } %>  
          </td>
        </tr>
      <% }) %> 
    </tbody>
  </table>
</div>

