<%- contentFor('head') %> 
<title>Register Borrow Card</title>
<%- contentFor('body') %> 
<%- include('../../partials/header/librarian-header.ejs') %> 

<div>
    <table class="table align-middle text-center table-striped">
        <thead>
          <tr>
            <th scope="col">Độc giả</th>
            <th scope="col">Đầu sách</th>
            <th scope="col">Ngày đăng ký</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
</div>
<tbody>
    <% registerBorrowCard.forEach(registerBorrowCard => { %>
        <tr key= <%= registerBorrowCard._id %> > 
            <td scope="col" class="text-wrap">
                <a href="/librarian/reader/<%= registerBorrowCard.doc_gia.id %>"><%= registerBorrowCard.doc_gia.ho_ten %></a>
            </td>
            <td scope="col" class="text-wrap">
                <% registerBorrowCard.cac_dau_sach.forEach(cac_dau_sach => { %>
                    <div>
                        <a href="/librarian/books/<%= cac_dau_sach.id %>"><%= cac_dau_sach.ten_dau_sach %></a>
                    </div>              
                <% }) %>  
            </td>
            <td scope="col" class="text-wrap"><%= registerBorrowCard.ngay_dang_ky.toLocaleDateString("VN", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></td>
            <td scope="col">
                <form action="/librarian/register-borrow-card/confirm/<%= registerBorrowCard.id %>" method="post">
                    <button class="btn-primary" type="submit">Confirm</button>
                </form> 
            </td>
            <td scope="col">
                <form action="/librarian/register-borrow-card/deny/<%= registerBorrowCard.id %>?_method=PUT" method="post">
                    <button class="btn-primary btn-danger" type="submit">Deny</button>
                </form>
            </td>
        </tr>
    <% }) %>
</tbody>
