<tr id="row_<%=book._id%>">
  <td scope="col" class="index"><%= index+1 %></td>
  <td scope="col" class="name" style="max-width: 10rem;"><%= book.ten_dau_sach %></td>
  <td scope="col" class="category d-none" ><%= book.the_loai.ten_the_loai%></td>
  <td scope="col" class="author d-none" ><%= book.tac_gia%></td>
  <td scope="col" class="nha_xuat_ban d-none" ><%= book.nha_xuat_ban%></td>
  <td scope="col" class="nam_xuat_ban d-none" ><%= book.nam_xuat_ban%></td>
  <td scope="col" class="date"><%= book.ngay_nhap.toLocaleDateString('en-GB')%></td>
  <td scope="col" class="price"><%= book.gia %></td>
  <td scope="col" class="quantity"><%= book.so_luong %></td>
  <td scope="col" class="tom_tat d-none" ><%= book.tom_tat%></td>
  <td scope="col" class="action-container change-col">  
    <form action="/book-head/<%= book._id %>" method="GET">
      <button type="submit" class="icon-btn"><i class="far fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Thông tin chi tiết"></i></button>  
    </form>
    <button 
      class="icon-btn"
      type="button"
      data-bs-toggle="modal" 
      data-bs-target="#edit_modal_<%=book._id%>"
    >
      <i class="fas fa-edit" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom"
      title="Chỉnh sửa"></i>
    </button>
    
    <button 
      class="icon-btn danger"
      type="button"
      onclick="deleteBook('<%=book._id %>')"
    >
      <i class="fas fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom"
      title="Xóa"></i>
    </button>
  </td>
</tr>