<%- contentFor('head') %> 
<title>Readers</title>
<%- contentFor('body') %> 
<%- include('../../partials/header/librarian-header.ejs') %> 
<% if(errorMessage){ %> 
    <%= errorMessage %> 
    <% } %> 
<div>
    <form action="/librarian/reader" method="post">
        <span>Nhập thông tin độc giả</span>
        <div>
            <span>Nhập họ tên</span>
            <input type="text" name="ho_ten" value="<%= reader.ho_ten %>" >
        </div>
        <div>
            <span>Nhập email</span>
            <input type="email" name="email" value="<%= reader.email %>" >
        </div>
        <div>
            <span>Nhập gioi tinh</span>
            <select name="gioi_tinh">
                <option value="nam"  label="nam"></option>
                <option value="nữ"  label="nữ"></option>
                <option value="khác"  label="khác"></option>
            </select>
        </div>
        <div>
            <span>Nhập ngày sinh</span>
            <input type="date" name="ngay_sinh" value="<%= reader.ngay_sinh %>" >
        </div>
        <div>
            <span>Nhập địa chỉ</span>
            <input type="text" name="dia_chi" value="<%= reader.dia_chi %>" >
        </div>
        <div>
            <span>Ngày lập thẻ</span>
            <input type="date" name="ngay_lap_the" value="<%= reader.ngay_lap_the %>" >
        </div>
        <button type="submit">Tạo độc giả</button>
        <a href="/librarian/reader">Cancel</a>
    </form>
</div>
<%- contentFor('head') %> 