
<% const today=new Date() %>
<% const month=((today.getMonth()+1)<10)?('0'+(today.getMonth()+1)):(today.getMonth()+1) %> 
<% const day=(today.getDate()<10)?('0'+today.getDate()):(today.getDate()) %> 
<% const ngay_lap_the=today.getFullYear()+'-'+month+'-'+day %> 


<div class="modal fade " id="addReader" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-xs-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Nhập thông tin độc giả</strong>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div >
                    <form action="/librarian/reader" method="post">
                        
                        <div class="form_body">
                            <div class="item">
                                <div >
                                    <input class="input" type="text" name="ho_ten" value="<%= reader.ho_ten %>" required>
                                    <label placeholder="Nhập họ tên"></label>
                                </div>
                                <div >
                                    
                                    <input class="input" type="email" name="email" value="<%= reader.email %>" required>
                                    <label placeholder="Nhập email"></label>
                                </div>
                                <div>
                                    <input class="input" type="text" name="dia_chi" value="<%= reader.dia_chi %>" required>
                                    <label placeholder="Nhập địa chỉ"></label>
        
                                </div>
                            </div>

                            <div class="item ">
                                <div class="subitem">
                                    
                                    <select class="input" name="gioi_tinh">
                                        <option value="Nam"  label="Nam"></option>
                                        <option value="Nữ"  label="Nữ"></option>
                                        <option value="Khác"  label="Khác"></option>
                                    </select>
                                    <label placeholder="Nhập giới tính"></label>
                                </div>
                                <div>
                                
                                    <input class="input" type="date" name="ngay_sinh" value="<%= reader.ngay_sinh %>" required>
                                    <label placeholder="Nhập ngày sinh"></label>
                                </div>

                                <div>
                                    <input class="input" type="date" name="ngay_lap_the" value="<%= ngay_lap_the %>" required>
                                    <label placeholder="Ngày lập thẻ"></label>
        
                                </div>
                            </div>
                        </div>

                        <button class="btn button_submit" type="submit">
                            <i class="fas fa-plus-circle"></i>
                            Tạo độc giả
                        </button>
                        
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>