
<link rel="stylesheet" type="text/css" href="/public/css/pages/librarian/manage-reader/new.css">
<% const today=new Date() %>
<% const month=((today.getMonth()+1)<10)?('0'+(today.getMonth()+1)):(today.getMonth()+1) %> 
<% const day=(today.getDate()<10)?('0'+today.getDate()):(today.getDate()) %> 
<% const ngay_lap_the=today.getFullYear()+'-'+month+'-'+day %> 


<div class="modal fade " id="addReader" role="dialog" tabindex="-1">
    <div class="modal-dialog " style="max-width:50%;" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <strong>Nhập thông tin độc giả</strong>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div >
                    <form class="container" action="/librarian/reader" method="post">
                       
                        <div class="row input-row">
                            <div class="col input-item">
                                <label for>Nhập họ tên</label>
                                <input style="min-width: 320px;" placeholder="Your full name" class="input-primary" type="text" name="ho_ten" value="<%= reader.ho_ten %>" required>
                        
                            </div>
                            <div class="col input-item">
                                <label >Nhập email</label>
                                <input placeholder="Your email" class="input-primary" type="email" name="email" value="<%= reader.email %>" required>
                                
                            </div>
                        </div>
                        <div class="row input-row">
                            <div class="col input-item">
                                <label >Nhập ngày sinh</label>

                                <input style="min-width: 320px;" class="input-primary" type="date" name="ngay_sinh" value="<%= reader.ngay_sinh %>" required>
                            </div>

                            <div class="col input-item gioi-tinh">
                                <label >Nhập giới tính</label>
                                <select class="input-primary" name="gioi_tinh">
                                    <option value="Nam"  label="Nam"></option>
                                    <option value="Nữ"  label="Nữ"></option>
                                    <option value="Khác"  label="Khác"></option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="row input-row">
                            
                            <div class="col input-item">
                                <label >Nhập địa chỉ</label>
                                <textarea rows="4" placeholder="Your address" class="input-primary" type="text" name="dia_chi" value="<%= reader.dia_chi %>" required></textarea>
    
                            </div>
                            <div class="col input-item">
                                <label >Ngày lập thẻ</label>
                                <input class="input-primary" type="date" name="ngay_lap_the" value="<%= ngay_lap_the %>" required>      
                            </div>
                        </div>
                        <div style="margin-top: 2rem;" class="d-flex justify-content-end">
                            <button class="submit-btn" type="submit">Submit</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
