
<div class="modal fade " id="viewReader<%= key %>" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-xs-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Xem thông tin độc giả</strong>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tên độc giả</th>
                                <th>Email</th>
                                <th>Giới tính</th>
                                <th>Ngày sinh</th>
                                <th>Địa chỉ</th>
                                <th>Ngày lập thẻ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                                    <td><%= reader.ho_ten %></td>
                                    <td><%= reader.email %></td>
                                    <td><%= reader.gioi_tinh %></td>
                                    <td><%= reader.ngay_sinh.toDateString() %></td>
                                    <td><%= reader.dia_chi %></td>
                                    <td><%= reader.ngay_lap_the.toDateString() %></td>
                                
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>