<%- contentFor('head') %> 
<script src ="../../../../public/js/borrow-book.js"></script>
<link rel="stylesheet" href="../../../../public/css/components/searchbar-select.css">
<link rel="stylesheet" href="../../../../public/css/components/search-bar.css">
<%-contentFor('body') %>
<%- include('../../partials/header/librarian-header.ejs') %> 
<div class="page-content-wrapper d-flex flex-column justify-content-center " id="mainContainer">
    <h2 class="page-title mt-3">Xát nhận lấy sách</h2>
    <form 
        class="my-4 searchbar_select_super"
        action="/librarian/borrow/confirm"
    >
        <div class="searchbar_select">
            <select class="" name="search_option" id="search-option">
                <option value="id" <%=option=="id"?"selected":"" %> > 
                    ID
                </option>
                <option value="email" <%=option=="email"?"selected":"" %>> 
                    Email
                </option>
            </select>
            <div class="search-bar">
                <input 
                    name="search_string"
                    id="search_string"  
                    type="text" 
                    class="text-truncate"
                    value="<%=searchString%>"
                    required 
                />
                <button type="submit"><i class="fas fa-search" aria-hidden="true" ></i> Tìm kiếm</button>
            </div>
        </div>
        <div class="btn-container ms-2">
            <a class="icon-text-btn" type="reset" href='/librarian/borrow/confirm' ><i class="fas fa-sync-alt" aria-hidden="true"  ></i> Làm mới</a>
        </div>
    </form>

    <div 
        class="d-flex flex-column justify-content-center align-content-center"
        action="/librarian/borrow/confirm" 
        method="post"
    > 
    <div class="justify-content-center ">
        <h4 class="text-start medium-title ">Thông tin độc giả</h4>
    </div>
    <div class=" reader-container mb-3 shadow-lg px-5 py-4">
        
        <div class="row">
            <div class="col input-item mb-3">
                <label for="reader_id">
                    ID:
                </label>
                <input 
                    name="reader_id" 
                    id="reader_id"  
                    type="text" 
                    class="input-primary text-truncate"
                    value="<%= reader?reader._id:'' %>"
                    disabled 
                />
            </div>
            <div class="col input-item mb-3">
                <label for="email">
                    Email:
                </label>
                <input 
                    name="email" 
                    id="email"  
                    type="email" 
                    class="input-primary text-truncate"
                    value="<%= reader?reader.email:'' %>" 
                    disabled 
                />
            </div>
        </div>
        <div class="row">
            <div class="col input-item mb-3">
                <label for="ho_ten">
                    Họ và Tên:
                </label>
                <input 
                    name="ho_ten" 
                    id="ho_ten"  
                    type="text" 
                    class="input-primary text-truncate"
                    value="<%= reader?reader.ho_ten:'' %>"
                    disabled 
                />
            </div>
            <div class="col input-item mb-3">
                <label for="ngay_sinh">
                    Ngày sinh
                </label>
                <input 
                    name="ngay_sinh" 
                    id="ngay_sinh"  
                    type="text" 
                    class="input-primary text-truncate"
                    value="<%= reader?reader.ngay_sinh.toLocaleDateString("en-GB"):'' %>" 
                    disabled 
                />
            </div>
        </div>
        <div class="row">
            <div class="col input-item mb-3">
                <label for="tien_no">
                    Tiền nợ
                </label>
                <input 
                    name="tien_no" 
                    id="tien_no"  
                    type="number" 
                    class="input-primary text-truncate"
                    value="<%= reader?reader.tien_no:'' %>"
                    disabled 
                />
            </div>
            <div class="col input-item mb-3">  
                <label for="ngay_muon">
                    Ngày mượn
                </label>
                <input 
                    name="ngay_muon" 
                    id="ngay_muon"  
                    type="date" 
                    class="input-primary text-truncate"
                    value ="<%= new Date(Date.now()).toLocaleDateString('en-GB').split('/').reverse().join('-') %>"
                />
            </div>
        </div>
    </div>
    
        <div class=" table-responsive my-3  p-0 ">
            <h4 class="text-start medium-title">Danh sách phiếu mượn trả của độc giả</h4>
            <table class="table  position-relative shadow-lg">
                <thead >
                    <tr> 
                        <th scope="col" >Mã phiếu mượn</th>
                        <th scope="col" >Mã đầu sách</th>                   
                        <th scope="col">Tên đầu sách</th>
                        <th scope="col">Mã quyển sách</th>
                        <th scope="col">Ngày mượn</th>
                        <th scope="col">Tình trạng</th>      
                        <th scope="col">Xác nhận</th>
                    </tr>
                </thead>
            
                <tbody>
                    <% if (borrowCards!=null) { %>
                        <% borrowCards.forEach(borrowCard => { %>
                            <tr>
                                <td ><%= borrowCard._id %></td>
                                <td class="book_name" id="id_<%= borrowCard._id %>"><%= borrowCard.dau_sach._id%></td>
                                <td class="book_name" id="name_<%= borrowCard._id %>"><%= borrowCard.dau_sach.ten_dau_sach %></td>
                                <td class="book_name" id="childId_<%= borrowCard._id %>"><%= borrowCard.ma_sach %></td>
                                <td class="date_borow" id="date_borow_<%= borrowCard._id %>"><%= borrowCard.ngay_muon?borrowCard.ngay_muon.toLocaleDateString('en-GB'):''%></td>
                                <td class="status" id="sts_<%= borrowCard._id %>"><%= borrowCard.tinh_trang==0?"Chưa nhận sách":borrowCard.tinh_trang==1?"Đã nhận sách": "Đã trả sách" %></td>
                                
                                <td>
                                    
                                    <input 
                                        type="checkbox" 
                                        name="xac_nhan"
                                        value="<%= borrowCard._id %>"  
                                        style="height: 25px;width: 25px;" 
                                        class="confirm_input"
                                        <%= borrowCard.tinh_trang==0?"":"disabled"%> 
                                    />
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
            <div class="d-flex flex-row justify-content-center">
                <button class="btn btn-primary btn-large" onclick="subConfirm()">Xác nhận lấy sách</button>
            </div> 
        </div>
    </div>
</div>
