<%- contentFor('head') %> 
<script src ="../../../../public/js/borrow-book.js"></script>
<%- contentFor('body') %> 
<%- include('../../partials/header/librarian-header.ejs') %> 
<link rel="stylesheet" href="../../../../public/css/components/search-bar.css">
<div  class="container d-flex flex-column justify-content-center" id="mainContainer"> 
    <form 
        class="container search-container my-3"
        action="/librarian/borrow" 
    >
        <div class="input-group mb-3 ">
            <div class="input-group-prepend">
                <select class="form-select" name="search_option" id="search-option">
                    <option value="id" <%=option=="id"?"selected":"" %>  > 
                        ID
                    </option>
                    <option value="email" <%=option=="email"?"selected":"" %>> 
                        Email 
                    </option>
                </select>
            </div>
            <input 
                name="search_string"
                id="search_string"  
                type="text" 
                class="form-control text-truncate "
                value="<%=searchString %>"
                required 
            />
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search" aria-hidden="true"></i>
                Tìm kiếm
            </button>
        </div>
    </form>

    <div class="justify-content-center ">
        <h5 class="text-start page-title">Thông tin độc giả</h5>
    </div>
    <div class="container reader-container mb-3 shadow-lg">
        
        <div class="row">
            <div class="col input-item mb-3">
                <label >
                    ID:
                </label>
                <input 
                    name="reader_id" 
                    id="reader_id"  
                    type="text" 
                    class="input-primary text-truncate"
                    value="<%= reader?reader._id:'' %>"
                    disabled 
                />
            </div>
            <div class="col input-item mb-3">
                <label >
                    Email:
                </label>
                <input 
                    name="email" 
                    id="email"  
                    type="email" 
                    class="input-primary text-truncate"
                    value="<%= reader?reader.email:'' %>" 
                    disabled 
                />
            </div>
        </div>
        <div class="row">
            <div class="col input-item mb-3">
                <label >
                    Họ và Tên:
                </label>
                <input 
                    name="ho_ten" 
                    id="ho_ten"  
                    type="text" 
                    class="input-primary text-truncate"
                    value="<%= reader?reader.ho_ten:'' %>"
                    disabled 
                />
            </div>
            <div class="col input-item mb-3">
                <label >
                    Ngày sinh
                </label>
                <input 
                    name="ngay_sinh" 
                    id="ngay_sinh"  
                    type="date" 
                    class="input-primary text-truncate"
                    value="<%= reader? new Date(reader.ngay_sinh).toLocaleDateString('en-GB').split('/').reverse().join('-'):'' %>" 
                    disabled 
                />
            </div>
        </div>
        <div class="row">
            <div class="col input-item mb-3">
                <label >
                    Tiền nợ
                </label>
                <input 
                    name="tien_no" 
                    id="tien_no"  
                    type="number" 
                    class="input-primary text-truncate"
                    value="<%= reader?reader.tien_no:'' %>"
                    disabled 
                />
            </div>
            <form  
                action="/librarian/borrow" 
                class="col input-item mb-3" 
                id="submit_form" 
                method="post"
            >
                <label >
                    Ngày mượn
                </label>
                <input 
                    name="ngay_muon" 
                    id="ngay_muon"  
                    type="date" 
                    class="input-primary text-truncate"
                    value ="<%= new Date(Date.now()).toLocaleDateString('en-GB').split('/').reverse().join('-') %>"
                />

                <input 
                        name="ma_doc_gia"
                        id="ma_doc_gia"  
                        type="text" 
                        class="d-none"
                        value="<%= reader?reader._id:'' %>" 
                        required
                />
            </form>
        </div>
    </div>

    <div class="container px-0 my-3">
        <div class=" justify-content-center mb-1">
            <h5 class="text-start page-title">Danh sách sách đăng ký</h5>
        </div>
        <table class="table align-middle text-center table-striped shadow" id="borrow_table">
            <thead >
                <tr>
                    <th scope="col">Ảnh bìa</th>
                    <th scope="col">Tên đầu sách</th>
                    <th scope="col">Mã đầu sách</th>
                    <th scope="col">Mã quyển sách</th>
                    <th scope="col">Giá</th>
                    <th scope="col">xoá</th>
                </tr>
            </thead>
            <tbody>
                <tr id="row_add_button">
                    <th scope="col" colspan="6">
                        <button type="button"  data-bs-toggle="modal" data-bs-target="#add_book_modal" <%= reader?"":"disabled" %>  class="icon-btn add-button">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex flex-row justify-content-center mb-4">
        <button class="submit-btn" onclick="submit()"  <%= reader?"":"disabled" %>>
            <i class="fas fa-plus" aria-hidden="true"></i>
            Tạo phiếu mượn
        </button>
    </div> 


    <div class="modal fade" id="add_book_modal">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        
                        Thêm sách
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form 
                        action="/librarian/borrow/books" 
                        method="GET" 
                        id="insert_form"
                        onsubmit="return addBorrowBook(event)"
                    >
                        <input 
                            name="ma_doc_gia" 
                            id="ma_doc_gia"  
                            type="text" 
                            class="input-primary text-truncate d-none"
                            value="<%= reader?reader._id:'' %>" 
                        />
                        <div class="col input-group mb-3">
                            <span class="input-group-text" >
                                Mã quyển sách:
                            </span>
                            <input 
                                name="ma_sach" 
                                id="ma_sach" 
                                class="form-control text-truncate" 
                                type="text"   
                                required 
                                placeholder="Mã sách"
                            />
                            <button type="submit" class="btn btn-success">Thêm</button>
                        </div>
                        
                       
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="result_modal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title page-title">
                        Kết quả
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table align-middle text-center table-striped" id="result_table">
                        <thead >
                            <tr>
                                <th scope="col">Tên đầu sách</th>
                                <th scope="col">Mã quyển sách</th>
                                <th scope="col">Kết quả</th>
                                <th scope="col">Lời nhắn</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
