<h2 class="page-title">Tra cứu sách</h2>

<form class="search-bar" action="/" method="get">
    <select name="option" >
        <option label="Tên sách" value="title">
        <option label="Tác giả" value="author">
        <option label="Thể loại" value="category">
        <option label="Nhà xuất bản" value="publisher">
    </select>
    <div class="input-item">
        <input type="text" placeholder="Tìm kiếm..." name="searchBox" value="<%= searchOptions.searchBox %>">
    </div>
    <button class="submit-btn"><i class="fas fa-search"></i></button>
</form>

<div class="result-header">
    <%if (searchOptions.searchBox) { %>
        <div class="hide-overflow-text"><i class="far fa-lightbulb"></i> Kết quả tìm kiếm cho từ khoá '<span><%= searchOptions.searchBox %></span>'</div>
    <% } %>
</div>

<div class="grid">
    <% bookHeads.forEach(bookHead => { %>
        <div class="grid-item">
            <a class="grid-item-content" href="/book-head/<%= bookHead.id %>">
                <img class="item-img" src="https://img.lovepik.com/desgin_photo/40139/8184_detail.jpg!detail808">
                <div class="item-content">
                    <div class="title" class="hide-overflow-text"><%= bookHead.ten_dau_sach %></div>
                    <div class="author" class="hide-overflow-text"><i class="fas fa-user-tie"></i> <%= bookHead.tac_gia %></div>
                </div>
            </a> 
        </div>                
    <% }) %>
</div>

