<div class="my-container" >
    <form class="search-bar" action="/" method="get">
        <select name="option" >
            <option label="Tên sách" value="title">
            <option label="Tác giả" value="author">
            <option label="Thể loại" value="category">
            <option label="Nhà xuất bản" value="publisher">
        </select>
        <input type="text" placeholder="Tìm kiếm..." name="searchBox" value="<%= searchOptions.searchBox %>">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    <div class="result-header">
        <%if (searchOptions.searchBox) { %>
            <div><i class="far fa-lightbulb"></i> Kết quả tìm kiếm cho từ khoá '<span><%= searchOptions.searchBox %></span>'</div>
        <% } %>
    </div>
    <div class="grid">
        <% bookHeads.forEach(bookHead => { %>
            <div class="grid-item">
                <a class="grid-item-content" href="/book-head/<%= bookHead.id %>">
                    <img class="item-img" src="https://cdn0.fahasa.com/media/catalog/product/o/n/one_piece_tap_91_bia_gap_1.jpg">
                    <div class="item-content">
                        <div class="title"><%= bookHead.ten_dau_sach %></div>
                        <div class="author"><%= bookHead.tac_gia %></div>
                    </div>
                </a> 
            </div>                
        <% }) %>
    </div>
</div>
