<%- contentFor('head') %>
  <title>Books</title>

  <link rel="stylesheet" href="../../../../public/css/components/search-bar.css">
  <link rel="stylesheet" href="../../../../public/css/components/filepond.css">
  <link rel="stylesheet" href="../../../../public/css/components/crud-section.css">

  <%- contentFor('body') %>
    <%- include('../../partials/header/librarian-header.ejs') %>
      <div class="table-responsive page-content-wrapper d-flex flex-column">

        <h2 class="page-title">Quản lý sách</h2>

        <div class="crud-section mt-3">
          <div class="crud-row">
            <h4><i class="fas fa-book" aria-hidden="true"></i> Đầu sách</h4>
            <div class="btn-container">
              <button data-bs-toggle="modal" data-bs-target="#addFileExcel" class="icon-text-btn green-btn">
                <i class="far fa-file-excel"></i>
                Import excel
              </button>
              <%- include('../../partials/book-management/dropfile.ejs') %>
                <button class="icon-text-btn" data-bs-toggle="modal" data-bs-target="#new_modal"><i class="fas fa-plus"
                    aria-hidden="true"></i>Thêm
                </button>
            </div>
          </div>
          <div class="crud-row">
            <div class="search-bar">
              <input type="text" placeholder="Từ khóa" id="search_bar_input">
              <button onclick="searchBook()"><i class="fas fa-search" aria-hidden="true"></i> Tìm kiếm</button>
            </div>
            <div class="btn-container">
              <button class="icon-text-btn" onclick="refresh()"><i class="fas fa-sync-alt" aria-hidden="true"></i> Làm
                mới</button>
            </div>
          </div>
        </div>
        <h4 class="medium-title">Danh sách sách</h4>
        <table class="table shadow" id="all-book-table">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Tên đầu sách</th>
              <th scope="col" class="d-none">Thể Loại</th>
              <th scope="col" class="d-none">Tác giả</th>
              <th scope="col" class="d-none">Nhà xuất bản</th>
              <th scope="col" class="d-none">Năm xuất bản</th>
              <th scope="col">Ngày nhập</th>
              <th scope="col">Giá</th>
              <th scope="col">Cho mượn</th>
              <th scope="col">Bán</th>
              <th scope="col" class="d-none">Tóm tắt</th>
              <th scope="col" class="change-col">Thao tác</th>
            </tr>
          </thead>

          <tbody>
            <% books.forEach((book, index)=> { %>
              <%- include("../../partials/book-management/row.ejs", {book: book, index}) %>
                <%} ) %>

          </tbody>
        </table>
        <div id="all_modal">
          <% books.forEach(book=> { %>
            <%- include("../../partials/book-management/edit.ejs", { book: book, bookCategories: bookCategories }) %>
              <% }) %>

                <%- include("../../partials/book-management/new.ejs", { bookCategories: bookCategories }) %>
        </div>
        <div style="margin-top: 2rem;" class="d-flex justify-content-end">
          <button class="icon-text-btn" type="button" onclick="ExportToExcel('xlsx')"><i
              class="far fa-file-excel"></i>Export excel</button>
        </div>
      </div>

      <script src="/public/js/book-management.js"></script>
      <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
      <script defer type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>