<%- contentFor('head') %> 
<title>Quy định thể loại sách</title>
<script defer src="/public/js/edit-book-category.js"></script>
<link rel="stylesheet" href="/public/css/components/vertical-nav.css">

<%- contentFor('body') %> 
<%- include('../../partials/header/librarian-header.ejs') %>
<div class="page-content-wrapper">
  <h2 class="page-title">Thay đổi quy định</h2>
  <div class="row">
    <div class="col-3">
      <%- include('./nav.ejs', {inputIndex: 1}) %> 
    </div>
    <div class="col-9">
      <!-- Button trigger modal -->
      <div style="margin-bottom: 2rem;" class="d-flex justify-content-between">
        <h4>Quy định thể loại</h4>
        <button type="button" class="submit-btn" data-bs-toggle="modal" data-bs-target="#new-category-modal">Thêm </button>
      </div>

      <!-- add Modal -->
      <div class="modal fade" id="new-category-modal" tabindex="-1" aria-labelledby="new-category-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="/librarian/policy/book-category" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="new-category-modal-label">Thêm thể loại</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3 input-item">
                  <label >Tên thể loại sách</label>
                  <input type="text" name="categoryName" required >
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="cancel-btn" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="submit-btn">Thêm</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>STT</th>
            <th>Tên thể loại</th>
            <th>Sửa</th>
            <th>Xóa</th>
          </tr>
        </thead>
        <tbody>
          <% bookCategories.forEach((category, index)=>{ %>
            <tr>
              <td class="category-id" hidden><%= category._id %></td>
              <td><%= index +1%></td>
              <td class="category-name"><%= category.ten_the_loai %></td>
              <td><button type="button" onclick="loadCategoryInfoToEditForm(this)" class="icon-btn" data-bs-toggle="modal" data-bs-target="#edit-category-modal"><i class="fas fa-edit"></i></button></td>
              <td><%- include('../../partials/delete-form-field.ejs', {url: `/librarian/policy/book-category/${category._id}`}) %></td>
            </tr>
            <% }) %> 
        </tbody>
      </table>
        <!-- edit Modal -->
      <div class="modal fade" id="edit-category-modal" tabindex="-1" aria-labelledby="edit-category-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="edit-category-modal-label">Cập nhật thể loại</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3 input-item">
                  <label >Tên thể loại sách</label>
                  <input id="edit-modal-category-name-input" type="text" name="categoryName" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="cancel-btn" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="submit-btn">Cập nhật</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>