<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vertical-nav" >
  <% let policyItems = [
      {url: '/librarian/policy', icon: 'fas fa-book-reader', text: 'Độc giả'},
      {url: '/librarian/policy/book-category', icon: 'fas fa-book-open', text: 'Thể loại sách'},
      {url: '/librarian/policy/borrow-book', icon: 'fas fa-book-medical', text: 'Mượn sách'},
      {url: '/librarian/policy/fine', icon: 'fas fa-coins', text: 'Tiền phạt'},
    ] 
  %> 
  <div>
    <i class="fas fa-cogs top-icon"></i>
    <span class="fs-4">Quy định</span>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <% policyItems.forEach((item, index)=>{ %>
      <% if(index == inputIndex){ %>
        <li class="nav-item">
          <a href="<%=item.url %>" class="nav-link active" aria-current="page">
            <i class="<%= item.icon %>"></i>
            <%= item.text %>
          </a>
        </li>
        <!-- <a href="<%=item.url %>" class="list-group-item list-group-item-action active" aria-current="true"><%= item.text %></a> -->
      <% }else{ %>
        <li>
          <a <a href="<%=item.url %>" class="nav-link text-white">
            <i class="<%= item.icon %>"></i>
            <%= item.text %>
          </a>
        </li>
      <% } %> 
    <% }) %> 
  </ul>
</div>
<!-- 
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" >
  <div>
    <i class="fas fa-cogs"></i>
    <span class="fs-4">Quy định</span>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <i class="fas fa-book-reader"></i>
        Độc giả
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="fas fa-book"></i>
        Thể loại sách
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="fas fa-book-medical"></i>
        Mượn sách
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="fas fa-coins"></i>
        Tiền phạt
      </a>
    </li>
  </ul>
</div> -->