<%- contentFor('head') %> 
<%- include('./allEmail.ejs') %>
<%- include('./emailPhieumuon') %> 

<script type="text/javascript" src="/public/js/demo.js"></script>
<a href="/librarian/reader">
    <button>chuyển trang</button>
</a>

<h3>Nhập data vào model xác nhận trả sách</h3>
<form action="/librarian/xacnhantrasach" method='post' class="form-control">
    <input type="email" name="email"><br>
    <input type="text" name="count"><br>
    <button type="submit" >add data</button>
</form>

<h3>Tra cứu phiếu mượn trả bằng email</h3>

<form action="/librarian/xacnhantrasach" method="get" class="form-control">
    <input type="email" name="email" value="">
    <button type="submit">Tra cứu</button>
</form>

<p>kết quả</p>
<% if(errorMessage!=null){ %> 
    <%= errorMessage %> 
<% } %> 

<% if(data){ %> 
        <% data.forEach((data,key) => {%>
            <input type="checkbox" id="<%= key %>" name="data" value="<%= data._id %>">
            <label for="<%= key %>"> <%= data._id %> </label><br>
        <% }); %> 
        

<% } %> 


<form action="/librarian/xemketqua" method="post" name="myform" >
    <input type="hidden" name="hide"><br>

    <button type="submit" name="delete" onclick="DoSubmit()"> 
        Delete
    </button>
</form>



