<%- contentFor('head') %> 
<%- include('../../partials/header/librarian-header') %> 

<script type="text/javascript" src="/public/js/handler-submit-borrow-return-card.js">
</script>

<form action="/librarian/xacnhantrasach" method="get">
    <input type="text" name="email" placeholder="nhập email"><br>
    <button type='submit'>tìm kiếm</button>
</form>

<% if(borrowReturnCard){ %> 
    <% const lengOfCard=borrowReturnCard.length %> 

    <% for(let i=0;i<lengOfCard;i++){ %> 
        <input type="checkbox" name="borrowReturnCard" value="<%= borrowReturnCard[i]._id %>">
        <label>mã phiếu: <%= borrowReturnCard[i]._id %></label>
        <label>Tên độc giả: <%= allNameReader[i] %></label><br>
    <% } %> 

<% } %> 

<form action="/librarian/xacnhantrasach?_method=put" method="post" name="formSubmit">
    <input type="hidden" name="selectBorrowReturnCard"><br>
    <button type="submit" onclick="DoSubmit()">Xác nhận</button>
</form>