<%- contentFor('head') %> 
<script type="text/javascript" src="/public/js/handler-submit-borrow-return-card.js"></script>
<link rel="stylesheet" href="/public/css/components/crud-section.css">
<link rel="stylesheet" href="/public/css/components/search-bar.css">

<%- contentFor('body') %> 
<%- include('../../partials/header/librarian-header') %> 
<div class="page-content-wrapper">
    <h2 class="page-title">Xác nhận trả sách</h2>
    <div class="crud-section">
    <div class="crud-row">
        <form class="search-bar" action="/librarian/confirm-return-book" method="get">
                <input class="input-primary" type="text" name="email" placeholder="nhập email" required >
                <button class="icon-text-btn" type='submit'>
                    <i class="fas fa-search"></i>
                    Tìm kiếm 
                </button>
        </form>
        <div class="btn-container">
            <form class="form-primary" action="/librarian/confirm-return-book" method="get">
                <input type="text" name="email" value="" hidden>
                <button class="icon-text-btn">
                    <i class="fas fa-sync-alt"></i>
                    Làm mới
                </button>
            </form>
        </div>
    </div>
    </div>

    <% if(borrowReturnCard){ %> 
        <% const lengOfCard=borrowReturnCard.length %> 

        <% for(let i=0;i<lengOfCard;i++){ %> 
            <input type="checkbox" name="borrowReturnCard" value="<%= borrowReturnCard[i]._id %>">
            <label>Mã phiếu: <%= borrowReturnCard[i]._id %></label>
            <label>Tên độc giả: <%= allNameReader[i] %></label>
            <label>Ngày mượn: <%= borrowReturnCard[i].ngay_muon.split('T')[0] %></label><br>
        <% } %> 

    <% } %> 

    <div class="d-flex justify-content-end">
        <form action="/librarian/confirm-return-book?_method=put" method="post" name="formSubmit">
            <input type="hidden" name="selectBorrowReturnCard"><br>
            <button class="submit-btn" type="submit" onclick="DoSubmit()">Submit</button>
        </form>
    </div>
</div>